<!DOCTYPE html>
<html>
    <head>
        <title>
                Document Similarity
        </title>
        <link rel="stylesheet" href="/static/home.css" />
    </head>
    <body>
        <header>
            Document Similarity
        </header>
        <p id="redirect1">Document Similarity Checker &nbsp;&nbsp;&nbsp;<a href="{{url_for('docSimilarityPage')}}">follow</a></p>
        <p id="about1"></p>
        <p id="redirect2">Best document finder&nbsp;&nbsp;&nbsp;<a href="{{url_for('clusterSimilarity')}}">follow</a></p>
        <p id="about2"></p>   
    <script src="/static/home.js"></script>
    </body>
</html>